@import url('../style/nav.css');
@import url('../style/global.css');

.profile {
    margin-top: 48px;
    position: relative;
    width: 100%;
    height: 100vh;
}

.profile .container {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
}

.profile .container .userInfo {
    position: relative;
    padding: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.profile .container .userInfo .pic {
    position: relative;
    width: 98px;
    height: 98px;
    border-radius: 50%;
    background: white;
    border: 1px solid black;
}

.profile .container .userInfo .pic img {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.profile .container .userInfo .text {
    position: relative;
    width: 148px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0.9);
    text-transform: lowercase;
    font-size: 12px;
    text-align: center;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
}

.profile .container .progressInfo {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 8px;
}

.profile .container .progressInfo .testContainer {
    position: relative;
    width: 100%;
    height: 38%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.profile .container .progressInfo .testContainer .box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
}

.profile .container .progressInfo .testContainer .box .chartPerfil {
    width: 100%;
    height: 80%;
}

.profile .container .progressInfo .testContainer .box .btn {

    position: relative;
    width: 128px;
    height: 32px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    transition: all .2s ease-in-out;

}

.profile .container .progressInfo .testContainer .box .btn a {
    color: black;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.profile .container .progressInfo .testContainer .box .btn:hover {
    background: black;
    cursor: pointer;
}

.profile .container .progressInfo .testContainer .box .btn:hover a {
    color: white;
}


.profile .container .progressInfo .voidContainer {
    position: relative;
    width: 100%;
    height: 62%;
}