.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: url('../assets/img1.jpg') center center no-repeat;
}

.hero .filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6));
    z-index: 10;
}

.hero .container {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 20;
}

.hero .container p {
    color: white;
    font-size: 18px;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 288px;
}

.hero .container .btn {
    position: relative;
    background: white;
    width: 68px;
    height: 28px;
    border-top-right-radius: 8px;
    border: none;
    color: black;
    font-size: 12px;
    text-align: center;
    text-transform: lowercase;
    margin-top: 20px;
}
