.footer {
  position: relative;
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 40px;
}

.footer .container {
  position: relative;
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.footer .container .box {
  position: relative;
  width: 50%;
  height: 100%;
  padding: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer .container .box .square1 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 68px;
  height: 68px;
  background: #c5620c;
  backdrop-filter: blur(18px);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
  rotate: 134deg;
}

.footer .container .box .square1:hover {
  background: white;
}

.footer .container .box .ball1 {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 82px;
  height: 82px;
  border-radius: 50%;
  background: #4b4816;
  backdrop-filter: blur(18px);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
}

.footer .container .box .ball1:hover {
  background: white;
}

.footer .container .box .text {
  position: relative;
  width: 288px;
  height: 288px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.footer .container .box .text p {
  color: black;
  font-size: 16px;
  text-align: left;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
}

.footer .container .send {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 80px;
}

.footer .container .send form {
  position: relative;
  width: auto;
  height: 322px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

.footer .container .send form .field {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.footer .container .send form label {
  margin-bottom: 4px;
  color: rgba(0, 0, 0, 0.9);
  font-size: 12px;
  text-align: left;
  text-transform: capitalize;
  font-weight: 300;
  font-family: "Raleway", sans-serif;
}

.footer .container .send form input {
  width: 198px;
  height: 26px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  padding: 6px;
  color: rgba(0, 0, 0, 0.9);
  font-size: 12px;
  font-weight: 300;
  font-family: "Raleway", sans-serif;
}

.footer .container .send form textarea {
  height: 88px;
  width: 198px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  padding: 6px;
  color: rgba(0, 0, 0, 0.9);
  font-size: 12px;
  font-weight: 300;
  font-family: "Raleway", sans-serif;
}

.footer .container .send form textarea:hover {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.footer .container .send form .btn {
  position: relative;
  background: none;
  border: none;
  box-shadow: none;
  width: auto;
  height: auto;
  color: black;
  font-size: 14px;
  text-align: left;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  transition: all 0.2s ease-in-out;
}

.footer .container .send form .btn:hover {
  cursor: pointer;
}

.footer .container .send form .btn:hover::after {
  width: 100%;
}

.hero .container .text .btn::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60%;
  height: 1px;
  background: black;
  transition: all 0.2s ease-in-out;
}

.footer .navigation {
  position: relative;
  width: 100%;
  height: 10%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer .navigation .box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer .navigation .box a {
  color: black;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
}

.footer .navigation .box a:hover {
  color: white;
  background: black;
}

.footer .navigation .box a:hover p::after {
  background: white;
}

.footer .navigation .box p {
  position: relative;
  width: auto;
  height: auto;
  font-size: 14px;
  text-align: center;
  text-transform: lowercase;
  font-weight: 300;
  font-family: "Raleway", sans-serif;
  transition: all 0.2s ease-in-out;
}

.footer .navigation .box p::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 18px;
  height: 1px;
  background: rgba(0, 0, 0, 0.9);
  transition: all 0.2s ease-in-out;
}

.footer .navigation .box a:hover p::after {
  width: 100%;
}

.footer .copyRight {
  position: relative;
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer .copyRight p {
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
  text-align: center;
  text-transform: lowercase;
  font-weight: 300;
  font-family: "Raleway", sans-serif;
}
