.hero {
    position: relative;
    width: 100%;
    height: 110vh;
    display: flex;
    justify-content: flex-end;
}

.hero .container {
    position: relative;
    width: 60%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}

.hero .container .text {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;

}

.hero .container .text h1 {
    color: black;
    font-size: 38px;
    text-align: left;
    font-weight: 400;
    font-family: 'Lora', serif;
}

.hero .container .text p {
    color: black;
    font-size: 16px;
    text-align: left;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
}


.hero .container .text .btn {
    position: absolute;
    bottom: 0;
    left: 0;
    background: none;
    border: none;
    box-shadow: none;
    width: auto;
    height: auto;
    color: black;
    font-size: 14px;
    text-align: left;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    transition: all .2s ease-in-out;
}

.hero .container .text .btn:hover {
    cursor: pointer;
}

.hero .container .text .btn::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60%;
    height: 1px;
    background: black;
    transition: all .2s ease-in-out;
}

.hero .container .text .btn:hover::before {
    width: 100%;
}

.hero .container .box {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0;
}

.hero .container .box .void {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero .container .box .void .ill1 {
    position: relative;
    width: 88px;
    height: 88px;
    background: #c5620c;
    rotate: 134deg;
}

.hero .container .box .void .ill2 {
    position: relative;
    width: 98px;
    height: 98px;
    border-radius: 50%;
    background: #4b4816;
}